body {
    background-color: black;
}

#cards {
    margin-left: 140px;
}
   
#card {
    background-color: #fff;
    border:0;
    width: 500px;
    height: 530px;
    margin: 30px;
    position: relative;
    transition: all 200ms ease-in;
    transform: scale(1);   
}

#card:hover {
    z-index: 2;
    transition: all 200ms ease-in;
    transform: scale(1.10);
}

#problemaicon1 {
    position: relative;
    top: 55px;
    left: 40px;
}

#box1titulo {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

#box1txt {
    font-family: 'Dosis', sans-serif;
    padding: 30px;
    font-size: 17px;
    color: rgb(112, 111, 111);
}