
 select {
    background: #5c6664;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
 }

 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor:pointer;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }